<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Решение от Naumtsev</a>

          {% if "username" in session %}

                        <a class="navbar-brand" href="/">Главная</a>

                        {% if session["username"] in ADMINS %}
                             <a class="navbar-brand" href="/add_announcement">Добавить объявление</a>
                            <a class="navbar-brand" href="/solutions">Решения учеников</a>
                         {% else %}
                              <a class="navbar-brand" href="/send_solution">Отправить решение</a>
                              <a class="navbar-brand" href="/my_solutions">Мои решения</a>
                        {% endif %}
                         <a class="navbar-brand" href="/logout">Выйти из {{session["username"]}}</a>
           {% endif %}

      </nav>
    </header>


    <main role="main" class="container">
        {% block content %}




        {% endblock %}
    </main>

    {% if code and task_name %}

             <div style="margin-left:300px;border: 2px solid black;width:1200px;padding:3px">
                 <h4>Название задачи: {{task_name}} </h4>
            </div>
            <br/>
        <div style="margin-left:300px;border: 2px solid black;width:1200px;padding:20px">
                <code> <pre >{{code}} </pre></code>
            </div>
    {% endif %}

  </body>
</html>