{% extends "base.html" %}


{% block content %}
    <div>
        <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        <div>
            <h3>Название задачи: {{task}}</h3>
            <h6>Отправитель: {{username}}</h6>
        </div>

        <br/>
        <h4>Код посылки:</h4>
            <div style="border: 2px solid black;">
                {{code}}
            </div>

            <br/>
            <h4> Поменять статус задачи на:</h4>
            <p>
                {{ form.select }}<br>
                {% for error in form.select.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>

    <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}