{% extends "base.html" %}


{% block content %}
    <div>
        <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        <div>
            <h3><u>Название задачи:</u> {{task}}</h3>
            <h6>Отправитель: {{username}}</h6>
        </div>


        <h4><u>Код посылки:</u></h4>
            <div style="border: 2px solid black;padding:20px">
                <code> <pre>{{code}} </pre></code>
            </div>

            <br/>
            <p>  <h4> <u>Поменять статус задачи на:</u> <h5> </h5> </h4>   {{ form.select }}
                    {% for error in form.select.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
            </p>

    <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}